@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  font-family: "Poppins";
}

nav {
  max-width: 1600px;
  margin: 0 auto;
}

section {
  max-width: 1600px;
  margin: 0 auto;
}